.wrapper {
  padding: 48px 104px 140px;
  .product-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px 10px;
  }
  .title {
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 48px;

    color: #000000;
  }
}
