.wrapper {
  height: 100vh;
  display: grid;
  place-content: center;

  .error {
    color: red;
  }
  :global {
    .ant-btn-primary {
      margin: 20px 0;
    }
    .ant-btn-primary:last-child {
      margin-left: 10px;
    }
  }
}
