.wrapper {
  padding: 40px;

  .product-container {
    padding: 50px;
    display: grid;
    place-content: center;
    perspective: 90rem;
    perspective: 30% 60%;
  }

  .div-transform {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 60px;
  }
  .title {
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 48px;

    color: #000000;
  }
}
